@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

.body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f2f4cc;
    background: linear-gradient(#f1f2f4cc, #ffffff);
    /* padding:0rem 5rem; */
    /* background-image: ; */
}

.header_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1rem 1rem 1rem;
    
}

.header_section_nav-ul {
    display: flex;
    flex-flow: row nowrap;
    gap:1.5rem;
}


.header_section h1 {
    text-transform: uppercase;
}

.header_section_nav-ul--li a, .header_section h1 {
    color: rgba(255, 0, 0, 0.8);
    color:rgb(120, 18, 18);
    /* color: #0808cd; */
    /* color: #e74141; */
    font-weight: 500;
    text-decoration: none;
}

#main-test {
    opacity: initial;
    padding: 2rem;
}


.main-testingPage-container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width:60%;
    margin: 10rem auto;
    gap:1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow:5px 5px 15px 5px rgb(205, 205, 205);
    padding:1rem;
    transition: .4s ease-in-out;
  }

  #main-testingPage-form {
    display:flex;
    flex-direction: column;
    border:1px rgb(103, 119, 168) dashed;
    height: 15rem;
    /* width: 90%; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .main-testingPage-container:hover {
    scale: 0.99;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .progress-area {
    display:flex;
    flex-flow: column nowrap;
    gap:0.3rem;
  }

  .row {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:2rem;
    /* margin:1rem 0rem; */
    background-color: rgb(223, 226, 233);
    border-radius:0.3rem;
    padding:0.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    /* border:1px black solid; */
    width:100%;
    align-items: stretch;
    
  }

  .details span {
    margin-right: 0.5rem;
  }

  .row .progress-bar {
    width: 100%;
    height:0.5rem;
    /* border: 1px black solid; */
    border-radius: 2rem;
    background-color: white;
  }

  .progress {
    background-color: rgb(182, 184, 192);
    width: 100%;
    height:0.5rem;
    overflow: hidden;
    border-radius: inherit;
  }

  .bx {
    color: rgb(103, 119, 168);
  }

  #header_section-h1 {
    font-size:1rem;
  }

  .hidden {
    display: none;
  }

  .testA {
    overflow-y: scroll;
    /* overflow-x: scroll; */
    padding:2rem;
    margin-bottom: 4rem;
    /* border:1px black solid; */
  }

  .btn {
    font-family: 'Poppins', sans-serif;
    /* padding: 1rem; */
    /* font-weight: 700; */
    background: rgb(255, 255, 255);
    /* color: rgb(85, 13, 13); */
    border-radius: .5rem;
    /* border-bottom: 2px solid rgb(85, 13, 13);
    border-right: 2px solid rgb(85, 13, 13);
    border-top: 2px solid white;
    border-left: 2px solid white; */
    border:1px black solid;
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
   }
   
   .btn:hover {
    color: rgb(85, 13, 13);
    border-top: 1px solid rgb(116, 23, 37);
    border-left: 1px solid rgb(85, 13, 13);
    border-bottom: 1px solid rgb(85, 13, 13);
    border-right: 1px solid rgb(85, 13, 13);
    box-shadow: rgba(85, 13, 13, 0.4) 5px 5px, rgba(85, 13, 13, 0.3) 10px 10px, rgba(85, 13, 13, 0.2) 15px 15px;
   }


   .footer {
    text-align: center;
    padding:2rem;
    background-color: rgb(59, 7, 7);
    color: white;
    /* position: fixed;
    bottom:0;
    width:100%; */
}