<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error404</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
.error404 {
background-image: url('/static/img/404-Chuck-norris.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}
.main-errorPage h1{
    position: absolute;
    bottom: 40%;
    left:5%;
    width: fit-content;
    padding:1rem;
    font-family: 'Rye', serif;
    opacity: 0.6;
    font-size:1.1rem;
    line-height: 1.6rem;
}
.main-errorPage a{
    position: absolute;
    bottom: 5%;
    left:5%;
    width: fit-content;
    padding:1rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    font-family: 'Rye', serif;
    border:1px rgba(255, 255, 255, 0.751) solid;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 5px 0px rgba(175, 173, 173, 0.262);
    transition: 300ms ease-in-out;
}
.main-errorPage a:hover {
    background-color: rgba(255, 255, 255, 0.263);
    color: rgba(0, 0, 0, 0.742);
    border:1px rgba(0, 0, 0, 0.135) solid;
}
</style>
</head>
<body class="error404">
   <main class="main-errorPage">
        <h1>Désolé la page que vous cherchez a été volé par Chuck Norris</br> et on a pas osé lui demander de nous la rendre. </h1>
        <a href="/">Retourner à l'acceuil</a>
   </main>
</body>
</html>