<%- include('partials/header')  %>
    
<!-- MAIN -->
<main class="main main-homePage">
    <section class="main-section">
        <section class="main-section-title">
            <h2>Tester votre FEC</h2>
            <!-- <p>Quel intérêt?</p> -->
        </section>
            <ul class="main-section-ul-container">
                <li class="main-section-ul--li"> 
                    <i class='bx bxs-bank'></i>
                    <h3> Vérifiez la structure du FEC </h3>
                    <p> Se conformer aux normes légale en vue d'un eventuel control. </p>
                </li>

                <li class="main-section-ul--li"> 
                    <i class='bx bxs-error-alt'></i>
                    <h3> Repérez les erreurs potentielles </h3>
                    <p> Liste les erreurs liées à la structure du FEC et des écritures. </p>
                </li>


                <li class="main-section-ul--li">
                    <i class='bx bx-search-alt-2'></i>
                    <h3>Exportez le fichier de control </h3>
                    <p> Facilite le pointage des erreurs et la correction de celles-ci. </p>
                </li>
            </ul>
    </section>

    <section class="main-section"> 
        <h2 class="main-section-title">Comment ça marche ?</h2>
    </section>
    

</main>


<%- include('partials/footer')  %>
